/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create and customize Omaxi Style
 *
 * 
 */

/**
*top
*/

#headertop {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);;
	border-radius:10px 10px 10px 10px;
	color: #C7BAB4;
	font-size:66px;
	height:80px;
	text-align:center;	
	width:100%;
	-moz-border-radius:10px 10px 10px 10px;
	
}

.rgba #headertop {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
	
}


#maindesc{
	background:yellow;
}

#menublock {
	background:red;
}


